<ul>
    <li>
        <a href="#">Work</a>  
        <ul>
            
            <li>
                <a href="/projects/motb-birthdate.html">Museum of the Bible: Birthday Bookmark Generator</a>
            </li>
            
            <li>
                <a href="/projects/motb-hebrew-language.html">Museum of the Bible: Hebrew Language</a>
            </li>
            
            <li>
                <a href="/projects/waterpolis.html">Waterpolis: Sustainable practices for water collection</a>
            </li>
            
            <li>
                <a href="/projects/alistapart.html">A List Apart: For people who make websites</a>
            </li>
            
            <li>
                <a href="/projects/pcai.html">PCAI: Polyeco Contemporary Art Initiative</a>
            </li>
            
            <li>
                <a href="/projects/brooklyn-museum.html">Brooklyn Museum</a>
            </li>
            
        </ul>    
    </li>  
    <li>  
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">Contact</a>
    </li>  
</ul>